@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */
html,
body {
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

/* 스크롤바 보이지 않게 */
*::-webkit-scrollbar {
  display: none;
}

/* swiper CSS */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .skeleton {
    @apply animate-shimmer bg-gradient-shimmer bg-custom;
  }
}

/* Commented out for now: Theming based on prefers-color-scheme */
/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Inter';
}
